:root {
  --primary-color: #ffd700; /* Amarillo brillante */
  --primary-hover-color: #e6c200; /* Amarillo oscuro para hover */
  --secondary-color: #000000; /* Negro */
  --secondary-hover-color: #333333; /* Gris oscuro para hover */
  --secondary-contrast-color: #fff;
  --background-color: #000000; /* Fondo negro */
  --text-color: #ffd700; /* Texto amarillo brillante */
}

.secondary-contrast-color {
  color: var(--secondary-contrast-color); /* Texto blanco como contraste */
}

.primary-color {
  color: var(--primary-color);
}

.primary-background {
  background-color: var(--primary-color);
  color: #000; /* Texto negro sobre fondo amarillo */
}

.secondary-color {
  color: var(--secondary-color);
}

.secondary-background {
  background-color: var(--secondary-color);
  color: #fff; /* Texto blanco sobre fondo negro */
}
.text-color {
  color: var(--text-color);
}